.background{
    background-color: rgb(255, 174, 67);
    padding-bottom: 1.2em;
    font-family: Times New Roman;
    padding-top: 1em;
}

.body{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 2em;
    margin-right: 2em;
}

.header2{
    background-color: rgb(86, 87, 95);
    
}

.header2 h1{
    text-align: center;
    color: rgb(219, 219, 219);
}





/* -----------------------flex container---------------------- */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* ----------------------HEADER------------------------------- */

.BTClogo{
    display: block;
    width: 20em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.BTClogo2{
    margin-top: 2em;
    margin-left: 5em;
    width: 100%;
    max-width: 30em;
    min-width: 15em;
    object-fit: contain;
    border-radius: 10px;
}

/* --------------------------------------------------------------- */

.Container{
    float: inline-start;
    background-color:rgba(134, 134, 125, 0.63);
    border-radius: 8px;
    margin-top: 2em;
    padding: 1em;
    font-family: Lucida, sans-serif ;
    font-weight: bold;
    margin-left: 17em;
}

.App3{
    font-size: 1rem;
    margin:1em; 
    color:rgb(78, 78, 78);
}

#satPrice{
    font-size: 1rem;
    margin:1em; 
    color:rgb(78, 78, 78);
}

.sat-container div{
    color: rgb(78, 78, 78);
    font-size: 1rem;
    margin-left: 1em;
    margin-top: 0.5em;
}

/* ---------------------------converter Boxes------------------------ */

.conversion-boxes{
    display: block;
    float:left;
    width: 20em;
    padding-top: 2em;
    padding-left: 4em;
    text-align: center;
    color: rgb(37, 29, 0);
    font-size: 1em;
    font-weight: 900;
} 

.conversion-boxes form input{
    font-size: 1em;
    color:rgb(61, 47, 0);
    font-weight: 900;
} 

.conversion-boxes [type="button"]{
    justify-content:space-evenly;
    border-radius: 10px;
    border-color: rgb(141, 87, 0);
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(93, 53, 8);
    transition: 0.1s;
    margin: 0.2em;
} 
.conversion-boxes [type="button"]:hover{
    transition: 0.1s;
    border-radius: 12px;
    border-color: rgb(190, 117, 0);
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(179, 95, 0);
    margin: 0.2em;
} 

/* ------------------------------Text---------------------------------------- */

.BTC-information{
    display: inline-block;
    margin-top: 1em;
    color:rgb(0, 0, 0);
    margin: 6em;
    font-size: 1.2em;
    font-weight: 300;
}

.footer0{
    background-color: rgb(86, 87, 95);
    
}


.footer{
    
    border-radius: 10px;
    padding:1em ;
    text-align: center;
    color: rgb(255, 247, 137);
    font-size: 1.1em;
}

/* ----///////////////////////---responsive----///////////////////////////////----- */
/* ----///////////////////////---responsive----///////////////////////////////----- */
/* ----///////////////////////---responsive----///////////////////////////////----- */

@media only screen and (max-width: 500px){



    .body{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
        
      
    }
    
    .header2 h1{
        font-size: 1.5em;
        text-align: center;
        color: rgb(219, 219, 219);
      
    }

/* ------------------------------Text---------------------------------------- */

.BTC-information{
    color:rgb(0, 0, 0);
    display: inline-block;
    margin:0.7em; 
    font-size: 1.2rem;
}

/* ----------------------HEADER------------------------------- */

    .BTClogo{
        
        display: block;
        width: 12em;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

 /* ---------------------------conv boxes--------------------    */

 .conversion-boxes{
    position:relative;
    color: rgb(37, 29, 0);
    font-size: 0.6em;
} 

.conversion-boxes [name="conversor5" ], [name="conversor6"] {
    color: rgb(37, 29, 0);
    font-size: 0.2;
} 


.conversion-boxes form input{
    font-size: 1.6em;
    font-weight: bold;
    color:rgb(61, 47, 0);
} 

.conversion-boxes [type="button"]{
    justify-content:space-evenly;
    border-radius: 12px;
    border-color: rgb(141, 87, 0);
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(93, 53, 8);
    transition: 0.1s;
    margin: 0.2em;
} 
.conversion-boxes [type="button"]:hover{
    transition: 0.5s;
    border-radius: 12px;
    border-color: rgb(190, 117, 0);
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(179, 95, 0);
    margin: 0.2em;
} 



}

/* ---------/////////////////////////////////////////////--------- */
/* ---------/////////////////////////////////////////////--------- */


@media only screen and (max-width: 1130px){

    .BTClogo2{
   
        display: none;
    
       }

       .Container{
            float: inline-start;
            background-color:rgba(134, 134, 125, 0.657);
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
            margin-top: 2em;
            font-family: Lucida, sans-serif ;
            font-weight: bold;
        }
       
}

/* ---------/////////////////////////////////////////////--------- */
/* ---------/////////////////////////////////////////////--------- */


